.movie-name{

   font-size:large;
}

.user-profile{

  height: 200px;
  width:200px;

  /*zoom in */
  object-fit:cover;
  border-radius: 50%;


}

.bt-sz-lg{

  font-size:20px;
}


.movie-specs{
   
  display:flex;
  align-items: center;
  justify-content: space-between;


}

.movie-container{

  width:340px;
}

.movie-rating{

  font-size: 18px;

}


.movie-list{

  display: flex;
  gap:16px;
  flex-wrap: wrap;
  justify-content: space-around;


}
.counter-container{


  display: flex;
  gap: 10px;
}


.add-color{

  display: flex;
  flex-direction: column;

}

.add-movie-form{
   display: flex;
   flex-direction: column;
   gap:10px;
   margin-bottom: 16px;

}

.movie-detail-container{

 max-width: 800px;

}


.not-found{
    
  width:100%;
  object-fit: cover;


}

.router-container{

  margin:16px;


}